<manifest package="co.anitrend.support.auth.core"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <provider
            android:authorities="${applicationId}.SimpleAuthInitProvider"
            android:name=".provider.AuthInitProvider"
            android:exported="false" />

    </application>

</manifest>
